.logo-button {
  width: 100%;
  height: 100%;
  opacity: 0.65;
}
.logo-button:hover {
  opacity: 1;
}

.logo-button svg {
  width: 100%;
  height: 100%;
}

ul.mock-handler-list {
  padding: 0;
  list-style-type: none;
  margin-block: 5px;
  max-height: 300px;
  overflow: auto;
}

ul.mock-handler-list .mock-handler-header {
  display: table;
  width: 100%;
  table-layout: fixed;
}

ul.mock-handler-list .mock-handler-header > * {
  display: table-cell;
  font-weight: bold;
  padding: 0 20px;
}

ul.mock-handler-list li {
  margin-block: 5px;
}

ul.mock-handler-list li.url {
  background: black;
  color: white;
  font-size: 1.2rem;
}

ul.mock-handler-list li.mock-handler-wrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
}

ul.mock-handler-list li.mock-handler-wrapper .mock-handler {
  display: table-row;
}

ul.mock-handler-list li.mock-handler-wrapper .mock-handler > * {
  display: table-cell;
  padding: 0 20px;
}

.delay-input-wrapper {
  white-space: nowrap;
}
